---
version: '3.8'
services:
  swapi:
    ports:
      - "8001:8000"
    command: python manage.py runserver 0.0.0.0:8000

  db:
    user: "!!UID!!"
    env_file:
      - .envs/.postgresql

  app:
    user: "!!UID!!"
    build:
      target: development_build
      args:
        DJANGO_ENV: local
        USER_ID: "!!UID!!"
    ports:
      - "8000:8000"
    env_file:
      - .envs/.postgresql
      - .envs/.django
    volumes:
      - ./shared/media:/app/shared/media:cached
      - ./shared/static_files:/app/shared/static_files:cached

  web:
    tty: true
    user: "!!UID!!"
    build:
      args:
        USER_ID: "!!UID!!"
    ports:
      - "8080:8080"
    command: quasar dev
    env_file:
      - .envs/.frontend
    volumes:
      - ./frontend/node_modules:/app/node_modules
